[Unit]
Description=Check email periodically and notify
After=network.target

[Service]
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/pi/pi-scripts/checkmail.py
# we may not have network yet, so retry until success
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
