[Unit]
Description=LED Heartbeat
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/pi-scripts
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/pi/pi-scripts/LEDheartbeat.py
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
